* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */



/*********  Header*************/
.header {
  position: fixed;
  top: 0;

  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: #edf2f3;
  background-color: #feffffc5;
  padding: 3.2rem 9.5rem 20rem 9.5rem;
  padding: 0 8rem;
  z-index: 1000;
  width: 100%;
  height: 9.5rem;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(26, 25, 25, 0.03);
}

.logo {
  border-radius: 150px;
  height: 14.3rem;
}

.logo1 {
  background-color: #fff;
  border-radius: 150px;
  height: 14.3rem;
  margin-left: 10rem;

  display: block;
  margin-bottom: 4.4rem;
}

.main-nav {
  z-index: 3;
}

.main-nav-list {
  display: flex;
  list-style-type: none;
  gap: 3.2rem;
}

.main-nav-list li {
  display: flex;
  flex-direction: column;
}

.main-nav-list li a:hover {
  color: rgb(252, 156, 66);
}

.main-nav-list li a:hover {
  color: rgb(252, 156, 66);
}

.main-nav-link {
  z-index: 3;
  text-decoration: none;

  color: #555;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.4s;
}

.session {
  margin-left: 3.2rem;
}

.session li {

  font-size: 1.6rem;
  font-weight: 400;

}

.informatıon {
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  margin-bottom: 0rem;

}

.document-p {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;

}

.step-INFO {
  margin-top: 6.5rem;
}

#cdt {
  background-color: #ecdbc959;


}

#cdt .heading-tertiary {
  padding-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.p-cdt {
  text-transform: lowercase;
  line-height: 2;
  margin-top: -1.9rem;

}

/**************************************************************************************************************************drop down menu***************************** ************************************/

.div-sub {
  display: none;
  transition: all 0.9s ease;
  position: absolute;
}

.main-nav-list li {
  transition: all 1s ease-in-out;
}

.main-nav-list li:hover .div-sub {
  display: block;
  position: absolute;
  background: linear-gradient(to bottom, rgb(255, 255, 255), #ace9f5);
  margin-top: 30px;
  margin-left: -15px;
  padding: 3.2rem 3.2rem 3.2rem 3.2rem;
  border-radius: 15px;
  transform: translateY(1.2rem);
  border-color: rgb(174, 174, 248);
}

.main-nav-list li:hover .div-sub ul {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-nav-list li:hover .div-sub ul li a {
  width: 150px;

  color: black;
  text-decoration: none;
  padding-top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}


/********************************************************color sub menu************************************/
.main-nav-list li:hover .div-sub ul li a:hover {
  color: rgb(255, 159, 43);
}

.icon-drop-down {
  font-size: 700;
  width: 40px;
  height: 70px;
  color: rgb(255, 255, 255);
  position: relative;
  top: -70px;
  left: 5px;
}

.specific-color {
  color: rgb(255, 255, 255);
}

/***********************************************transition color hover sub menu******************************/
.effect-sub-menu {
  transition: all 0.9s;
}

/*************************************End color sub menu***************************************/

/***************************************drop down menu ************************************/

.sign--header {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
  justify-content: space-between;
}

.sign {
  display: none;
}

.btn-login {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #2145e6;
  padding: 1.6rem 3.2rem;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.left {
  background-color: #ffffff;
  color: #ff2600;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

/*******End header******************/

/*********Hero section  ++ Maın section*************/
.main {
  background-color: #fccea6;
  max-width: 100%;
  background: url(image/background5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #80dbff;
}

.Section-hero {
  background-color: #edf2f3;
  padding: 12.5rem 21.5rem 16.5rem 4.5rem;
  margin-top: 9.3rem;


  max-width: inherit;
}

.hero {
  max-width: 130rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12.4rem;
  position: relative;
  background-color: #cef4ff;
  background-color: #e6f9ff;
  background-color: #edf2f3;

  z-index: 30;
}



/*************** Mobile  ***********/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  margin-bottom: 30px;
  z-index: 10000;


}

.btn-mobile-nav {
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;

}

/**********************************/
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**********************************/
/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 93%;
  /* z-index: 10; */
}



/********************************************/



/**************************/

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} */

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
}

.mobile-Display {
  display: none;
}

.list-ex {
  font-size: 3.4rem;
  color: #555;
  font-weight: 600;
  margin: 0 auto;
  text-decoration: none;
}


.accord-list li {
  display: block;
  background-color: #a3ebf8;
  padding: 0.6rem 1.2rem;
  border-bottom: 1px solid black;
}

.accord-list li:hover {
  display: block;
  background-color: #f3c59a;
  padding: 0.6rem 1.2rem;
}

.mobile {
  font-size: 1.6rem;
  text-decoration: none;
  color: #333;
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/*foooter */

.footer {
  padding: 8rem 0;
  border-top: 1px solid #eee;
  background-color: #333;
  color: #ffff;
}

.grid--footer {
  color: #ffff;
}

.grid--footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  margin-left: 4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;

}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
  margin-left: 4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.story-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}

.story-container h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.story-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}