{% extends "blog/base.html" %}
{% load static %}
{% block content %}  
        
    <div class="content-section">
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enregistrement</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <P>Vous serez informé de votre demande dans un délai de 48 heures.Vous devez verifier votre Boîte de réception sur le site</P>
               
                <button class="btn btn-outline-info" type="submit">Envoyer</button>
            </div>
        </form>
    </div>
   
     <style>
        fieldset{
            display: flex;
            flex-direction: column;
        }
        label{
            display: flex;
            flex-direction: row;

        }
     </style>
{% endblock content %}